<div class="app-container">
  <div class="header">
    <div class="title"><span>Anna</span></div>
    <div class="lang-container" style="margin-left:auto"><span class="lang">EN</span></div>
    <div class="lang-container"><span class="lang">FR</span></div>
  </div>
  <div class="content">
    <div class="speech-to-text">
      <span id="final_span"></span>
      <span id="interim_span"></span>
    </div>
    <div class="results-container">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
    </div>
  </div>
</div>
<div class="mic-container">
  <i class="fas fa-microphone" [ngClass]="{active: talking}"></i>
</div>