.app-container {
  height: 100%;
  .header {
    display: flex;
    height: 70px;
    background: linear-gradient(to right, #f8dd88, #f4c739);
    div {
      display: flex;
    }
    .title {
      margin-left: 5px;
      span {
        line-height: 50px;
        font-size: 26px;
      }
    }
    .lang-container {
      display: flex;
      margin-right: 3px;
      .lang {
        margin: auto;
        padding: 5px 20px 5px 20px;
        border: 1px solid #6b6b6b;
        border-radius: 2px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    justify-content: space-around;
    .speech-to-text {
      display: flex;
      flex: 1 1 30%;
      text-align: center;
      padding-top: 20px;
      .box {
        border: 1px solid #6b6b6b;
        border-radius: 5px;
        background-color: #ebeef0;
        height: 80%;
        width: 50%;
        margin: auto;
        display: flex;
        .displaynone {
          display: none;
        }
        #final_span {
          margin: auto;
        }
        #interim_span {
          color: #6b6b6b;
          margin: auto;
        }
      }
    }

    .results-container{
      display: flex;
      flex: 1 1 70%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: white;
      text-align: center;
      $color-1: #DDD8B8;
      $color-2: #B3CBB9;
      $color-3: #84A9C0;
      $color-4: #6A66A3;
      $color-5: #58548E;

      $color: $color-1, $color-2, $color-3, $color-4, $color-5;

      @mixin anim($i){
        $y: ($i + 2) * 10;
      
        @keyframes right-#{$i} {
          0% {
            transform: translateY(#{-$y}px);
          }
          100% {
            transform: translateY(#{$y}px);
          }
        }
      }

      ul {
        display: flex;
        li {
          width: 20px;
          height: 20px;
          margin: 10px;
          list-style-type: none;
          transition: 0.5s all ease;
        }

        @for $i from 1 through 5 {
          li:nth-child(#{$i}) {
            @include anim($i);
            animation: right-#{$i} 1s infinite alternate;
            background-color: nth($color, $i);
            animation-delay: 100ms * $i;  
          }
        }
      }
      .loading {
        display: none;
      }
    }
  }
}

.mic-container {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 80px;
  width: 80px;
  display: flex;
  .fa-microphone {
    font-size: 50px;
    color: white;
    margin: auto;
  }
  .active {
    color: #f4c739;
  }
}
