.app-container {
  height: 100%;
  .header {
    display: flex;
    height: 70px;
    background: linear-gradient(to right, #f8dd88, #f4c739);
    div {
      display: flex;
    }
    .title {
      margin-left: 5px;
      span {
        line-height: 50px;
        font-size: 26px;
      }
    }
    .lang-container {
      display: flex;
      margin-right: 3px;
      .lang {
        margin: auto;
        padding: 5px 20px 5px 20px;
        border: 1px solid #6b6b6b;
        border-radius: 2px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    .speech-to-text {
      text-align: center;
      #interim_span {
        color: #6b6b6b;
      }
    }
  }
}

.mic-container {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 80px;
  width: 80px;
  display: flex;
  .fa-microphone {
    font-size: 50px;
    color: white;
    margin: auto;
  }
  .active {
    color: #f4c739;
  }
}
